<h2>Top games</h2>
<div x-data="topGames">
  <ul class="flex flex-wrap">
    <template>
      <li>
        <a class="js-internal" :href="`/directory/game/${game.name}`" x-on:click.prevent="$dispatch('set-main', { path: `/directory/game/${game.name}`, getUrl: '/partials/category.html'})">
          <img :src="getImageSrc(game.name, $el.width, $el.height)" alt="" width="104" height="144">
          <p x-text="game.name"></p>
        </a>
        <button x-data="{followed: false}"
          x-effect="followed = $store.games.hasId(game.id)"
          x-on:click="$store.games.toggle(game.id, game.name)"
          :aria-label="followed ? 'UnFollow' : 'Follow'"
        >
          <svg class="fill-current w-5 h-5">
            <use href="/src/assets/icons.svg#star-empty"></use>
            <use x-show="followed" href="/src/assets/icons.svg#star-full"></use>
          </svg>
        </button>
        <a :href="'https://www.twitch.tv/directory/games/' + game.name" title="Open link in Twitch">Twitch</a>
      </li>
    </template>
  </ul>

  <div class="text-center my-10">
    <button
      x-show="!loading && cursor !== ''"
      class="js-fetchMore border-2 py-1 border-violet-600 block w-full hover:bg-violet-600 hover:text-gray-50"
      x-on:click="moreGames()"
      :disabled="loading || cursor === ''"
    >
      <span class="">Load more games</span>
    </button>
    <p x-show="loading" class="py-1 border-2 border-gray-300">Loading...</p>
  </div>
</div>

