/* NOTE: Generated during build process */
@import "_utilities_generated.css";

.wrapper {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: var(--space-xs);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-gap, var(--space-s));
  justify-content: var(--cluster-justify-content, flex-start);
  align-items: var(--cluster-align-items, center)
}

.simple-fade-in {
  animation: var(--animation-fade-out) forwards, var(--animation-fade-in) forwards; 
  animation-delay: 0s, 20ms;
  animation-duration: 0s, 380ms;
}
