/* https://github.com/hankchizljaw/modern-css-reset */
/* reset start */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
picture {
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

svg {
  width: 100%;
  height: auto;
  max-width: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* reset end */


:root {
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.12vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.12vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.61rem + 0.37vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.15rem + 0.49vw), 2.50rem);
  --space-xl: clamp(3.38rem, calc(3.23rem + 0.73vw), 3.75rem);
  --space-2xl: clamp(4.50rem, calc(4.30rem + 0.98vw), 5.00rem);
  --space-3xl: clamp(6.75rem, calc(6.46rem + 1.46vw), 7.50rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.19rem + 0.61vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.42rem + 0.73vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.73rem + 0.73vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.37rem + 1.59vw), 2.50rem);
  --space-l-xl: clamp(2.25rem, calc(1.66rem + 2.93vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.74rem + 3.17vw), 5.00rem);
  --space-2xl-3xl: clamp(4.50rem, calc(3.33rem + 5.85vw), 7.50rem);
  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.59rem + 2.68vw), 2.50rem);

  --step--2: clamp(0.78rem, calc(0.77rem + 0.04vw), 0.80rem);
  --step--1: clamp(0.94rem, calc(0.91rem + 0.12vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.27rem + 0.41vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.49rem + 0.65vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.75rem + 0.97vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.05rem + 1.40vw), 3.05rem);
  --step-5: clamp(2.80rem, calc(2.40rem + 1.98vw), 3.82rem);

  /* TODO: Change font? */
  --font-base: system-ui,-apple-system,sans-serif;
  --tracking: 0;
  --color-truegray-50: rgb(250, 250, 250);
  --color-truegray-100: rgba(245, 245, 245);
  --color-truegray-300: rgb(212, 212, 212);
  --color-truegray-400: rgba(163,163,163);
  --color-truegray-500: rgba(115, 115, 115);
  --color-truegray-800: rgb(38, 38, 38);
  --color-truegray-700: rgb(64, 64, 64);
  --color-truegray-900: rgb(17, 24, 39);
  --color-violet-500: rgb(139,92,246);
  --color-violet-700: rgb(109,40,217);
  
  --header-height: calc(var(--step--1) + var(--space-2xs) + var(--space-3xs));
}

body {
  background: var(--color-truegray-50);
  color: var(--color-truegray-800);
  font-family: var(--font-base);
  font-size: var(--step-0);
  letter-spacing: var(--tracking);
  line-height: 1.4
}

h1,
h2,
h3 {
  line-height: 1.1;
  max-width: 30ch;
}
h1 {
  font-size: var(--step-5)
}
h2 {
  font-size: var(--step-4)
}
h3 {
  font-size: var(--step-3)
}

p,
li {
  max-width: 65ch;
}

[role=list] {
  padding: 0;
  margin: 0;
}

svg {
  width: 1.0em; 
  height: 1.0em;
  fill: currentColor;
}

button {
  border: none;
}

/* Composition */
.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-gap, var(--space-s));
  justify-content: var(--cluster-justify-content, flex-start);
  align-items: var(--cluster-align-items, center)
}


/* Blocks */
.skip-content {
  text-decoration: underline;
  position: absolute;
  z-index: 30;
  padding: 1rem;
  background-color: white;
  border: 1px solid #404040;
  bottom: calc(100% + 1rem);
  left: 0;
}

.skip-content:focus {
  bottom: auto;
}

header {
  position: fixed;
  background: var(--color-truegray-700);
  top: 0;
  width: 100%;
}

.menu-item {
  display: block;
  height: 100%;
  font-size: var(--step--1);
  text-decoration: none;
  background-color: var(--color-truegray-900);
  color: var(--color-truegray-100);
  padding-block-start: var(--space-3xs);
  padding-inline: var(--space-2xs);
  --border-color: var(--color-truegray-900);
  border-bottom: var(--space-3xs) solid var(--border-color);
  cursor: pointer;
}

.menu-item:hover,
.menu-item:focus {
  --border-color: var(--color-truegray-500);
}

.menu-item[aria-expanded=true] {
  border-bottom-color: var(--color-violet-700);
}

.menu-item svg {
  width: 1.2em;
  height: 1.2em;
  display: block;
}

.sidebar-position {
  z-index: -1;
  display: flex !important;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  --block-padding: var(--space-2xs);
  padding-top: calc(var(--header-height) + var(--block-padding));
  padding-bottom: var(--block-padding);
  --sidebar-x: 100%;
  transform: translateX(var(--sidebar-x));
  transition: visibility .15s, opacity .15s, transform .15s;
  max-width: 20rem;
  width: 100%;
}

.menu-item[aria-expanded=false] + .sidebar-position,
#game_name[aria-expanded=false] ~ .sidebar-position {
  opacity: 0;
  visibility: hidden;
  --sidebar-x: 100%;
}

.menu-item[aria-expanded=true] + .sidebar-position,
#game_name[aria-expanded=true] ~ .sidebar-position {
  opacity: 1;
  visibility: visible;
  --sidebar-x: 0%;
}

.sidebar-content {
  font-size: var(--step-0);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-truegray-700);
}

.sidebar-content h2 {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
  font-size: var(--step--1);
  background-color: var(--color-violet-700);
  color: var(--color-truegray-100);
  padding: var(--space-3xs) var(--space-2xs);
}

.sidebar-header svg {
  width: 1.2em;
  height: 1.2em;
}

.btn-close {
  display: flex;
  align-items: center;
  background-color: var(--color-violet-700);  
  color: var(--color-truegray-100);
  padding: var(--space-3xs) var(--space-2xs);
  opacity: .7;
}

.btn-close:hover,
.btn-close:focus {
  opacity: 1;
}

.btn-close svg {
  width: 0.9em;
  height: 0.9em;
}

scroll-container {
  padding-block: var(--space-s);
  overflow: hidden;
  position: relative;
}

scroll-container::after {
  --shadow-top: 0 2em 1em -1em #404040 inset;
  --shadow-bottom: 0 -2em 1em -1em #404040 inset;
  --box-shadow: none;
  inset: var(--space-s) 0;
  pointer-events: none;
  position: absolute;
  content: '';
  box-shadow: var(--box-shadow);
}

scroll-container[data-scroll-shadow=top]::after {
  --box-shadow: var(--shadow-top);
}

scroll-container[data-scroll-shadow=bottom]::after {
  --box-shadow: var(--shadow-bottom);
}

scroll-container[data-scroll-shadow=both]::after {
  --box-shadow: var(--shadow-top), var(--shadow-bottom);
}

.scrollbox {
  height: 100%;
  overflow: auto;
}

/* TODO: redo form[role=search] CSS */
form[role="search"] {
  font-size: var(--step--1);
  display: flex;
  height: 100%;
}

form[role="search"] input {
  --border-color: var(--color-truegray-900);
  border: none;
  border-top: 1px solid var(--border-color);
  border-bottom: var(--space-3xs) solid var(--border-color);
  padding-inline: var(--space-2xs);
}

form[role=search] input[aria-expanded=true],
form[role=search] input[aria-expanded=true] + .menu-item {
  border-bottom-color: var(--color-violet-700);
}

form[role=search] input[aria-expanded=false] ~ sidebar-menu {
  display: none;
}

form[role="search"]:is(:hover, :focus-within) :is(.menu-item, input) {
  --border-color: var(--color-truegray-500);
}

main {
  margin-top: var(--space-l);
}

.sidebar-card {
  display: flex;
}

.sidebar-card > a {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: var(--color-truegray-800);
  border-left: var(--space-3xs) solid var(--color-truegray-800);
  padding-inline-start: var(--space-3xs);
  text-decoration: none;
  color: var(--color-truegray-300);
}

.sidebar-card > a p {
  padding: var(--space-2xs);
  font-size: var(--step--1);
}

.sidebar-card > a:hover,
.sidebar-card > a:focus {
  border-left-color: var(--color-violet-700);
  color: var(--color-truegray-50);
}

.sidebar-card img {
  width: 3.5rem;
}

follow-star {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-truegray-800);
  line-height: 1;
  padding: var(--space-3xs) var(--space-2xs);
  color: var(--color-truegray-400);
}

scroll-container follow-star {
  margin-inline-start: 1px;
}

follow-star button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

follow-star a {
  color: inherit;
}

follow-star a:hover,
follow-star a:focus,
follow-star button:hover,
follow-star button:focus {
  color: var(--color-violet-500);
}

/* Utilities */
.wrapper {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: var(--space-xs);
}

