<div class="stack">
  <div class="flex">
    <div id="category-header" class="flex items-center bg-white rounded-r-sm">
      <div hx-ext="twitch-api"
        hx-get="https://api.twitch.tv/helix/games"
        hx-trigger="load"
        hx-target="#category-header"
      ></div>
      <h2 aria-hidden="true">
        <img class="w-10 bg-trueGray-100" width="104" height="144">
        <p class="w-48"></p>
      </h2>
    </div>
  </div>
  <div class="list-wrapper">
    <div id="feedback"></div>
    <ul id="video-list" class="grid grid-min-72 grid-gap-6"></ul>
    <div id="load-more-wrapper" class="text-center my-12">
      <button type="button"
        id="load-more-streams"
        class="load-more-btn border-2 py-1 border-violet-600 block w-full hover:bg-violet-600 hover:text-gray-50"
        hx-ext="twitch-api"
        hx-trigger="click"
        hx-include=".category-param"
        hx-get="https://api.twitch.tv/helix/streams?first=5"
        hx-target="#video-list"
        hx-swap="beforeend"
        aria-disabled="false"
      >
        <input type="hidden" class="category-param" name="after" value="">
        <input type="hidden" class="category-param" name="game_id" value="">
        <span>Load more videos</span>
      </button>
      <p class="load-more-msg hidden border-2 py-1 border-trueGray-300 text-trueGray-500">
        Loading...
      </p>
    </div>
  </div>
</div>
