<div class="stack">
  <div class="flex">
    <h2 class="px-3 py-2 bg-white">Settings</h2>
  </div>
  <div class="bg-white p-3 stack">
    <section>
      <h3 class="title-setting">Twitch</h3>
      <button class="btn-twitch" :class="{ 'hidden': ! $store.global.twitch.user_token }" type="button"
        @click="$store.global.twitch.logout()"
      >Log out from Twitch</button>
      <a class="btn-twitch" :class="{ 'hidden': $store.global.twitch.user_token }"
        :href="$store.global.twitch_login_url"
      >Log in with Twitch</a>
    </section>
    <section>
      <h3 class="title-setting">General</h3>
      <p class="mt-1.5">Number of items to load with one request</p>
      <ul class="list-general stack stack-m-4 mt-1.5 pl-4">
        <li>
          <label for="top-games-count">Top Games:</label>
          <input type="number" id="top-games-count" name="top-games-count" min="1" max="100" value="5">
        </li>
        <li>
          <label for="category-count">Category/Games:</label>
          <input type="number" id="category-count" name="category-count" min="1" max="100" value="5">
        </li>
        <li>
          <label for="user-videos-count">User videos:</label>
          <input type="number" id="user-videos-count" name="user-videos-count" min="1" max="100" value="5">
        </li>
      </ul>
    </section>
    <section>
      <h3 class="title-setting">Cache</h3>
      <ul class="stack stack-m-4 mt-1.5">
        <li><button type="button" class="btn-setting">Clear games cache</button></li>
        <li><button type="button" class="btn-setting">Clear streams cache</button></li>
        <li><button type="button" class="btn-setting">Clear profile images cache</button></li>
        <li><button type="button" class="btn-setting">Clear all cache</button></li>
      </ul>
    </section>
  </div>
</div>
