<div class="stack">
  <div class="flex">
    <h2 class="px-3 py-2 bg-white">Top games</h2>
  </div>
  <ul id="video-list" class="grid grid-min-72">
    <div id="video-list-swap" hx-ext="twitch-api" hx-get="/helix/games/top" hx-trigger="load" hx-swap="outerHTML"></div>
  </ul>
  <div id="load-more-wrapper" class="text-center my-12">
    <button type="button"
      class="load-more-btn border-2 py-1 border-violet-600 block w-full hover:bg-violet-600 hover:text-gray-50"
      hx-ext="twitch-api" hx-get="/helix/games/top" hx-target="#video-list" hx-swap="beforeend"
      hx-include="#top-games-params"
      aria-disabled="false"
    >
      <input type="hidden" id="top-games-params" name="after" value="">
      <span class="">Load more games</span>
    </button>
    <p class="load-more-msg hidden border-2 py-1 border-trueGray-300 text-trueGray-500">
      Loading...
    </p>
  </div>
</div>
